@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #03c7ff;
  --secondary-color: #103d54;
  --tertiary-color: #0b4a6a;
  --mainbg-color: #090e19;
  --secondarybg-color: #051924;
}

@layer base {
  h1 {
    @apply text-xl lg:text-h1 font-bold uppercase leading-normal tracking-[.06em];
  }
  h2 {
    @apply text-lg lg:text-h2 font-bold uppercase mb-8 leading-normal;
  }
  p {
    @apply mb-6;
  }
  button {
    @apply bg-secondary py-2.5 lg:py-5 px-6 lg:px-12 uppercase disabled:opacity-50 font-bold tracking-button;
  }
  input {
    @apply border border-primary p-3 bg-transparent focus:border-primary;
  }
}

.clip-path-right {
  clip-path: inset(0 100% 0 0);
  transition: clip-path 750ms ease-in-out;
}